<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Sale</title>
</head>
<body>
<!-- страница заказа блюда, если оно было готово выводим Блюдо готово и будет подано в ближайшее время,
если нет Пожалуйста ожидайте пока блюдо приготовится-->
<p>Блюдо заказано успешно!</p>
<div th:if="${readyDishes} == 0">
    <p>Пожалуйста ожидайте пока блюдо приготовится</p>
</div>
<div th:if="${readyDishes} > 0">
    <p>Блюдо готово и будет подано в ближайшее время</p>
</div>
</body>
</html>