<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menu edit</title>
</head>
<body>
<p th:text="'Меню на ' + ${menu.getDate}">VALUE</p><!-- -->
<div th:if="${menu.getDishes.size()} == 0"><!-- если в меню нет блюд выводим сообщение, если есть выводим их-->
    <p>В меню пока нет блюд</p>
</div>
<div th:if="${menu.getDishes.size()} != 0">
    <b><p>Блюда:</p></b><!-- выводим все блюда-->
    <div th:each="dish:${menu.getDishes}">
        <a th:href="@{/dishes/{id}(id=${dish.getId()})}
           th:text="${dish.getName()} + ', Цена - ' + ${dish.getPrice()}">dish</a>
    </div>
</div>
<br/>

<form th:method="POST" th:action="@{/menus/{id}/update(id=${menu.getId()})}" th:object="${menu}">
    <!-- форма редактирования меню-->
    <label for="date">Введите новую дату для меню: </label>
    <input type="text" th:field="*{date}" id="date"/>
    <input type="submit" value="редактировать">
</form>
<form th:method="POST" th:action="@{/menus/{id}/add_dish(id=${menu.getId()})}">
    <!-- форма добавления блюда к меню -->
    <label for="dish">Выберите блюдо</label>
    <select th:object="${dish}" th:field="*{id}" id="dish">
        <option th:each="dish: ${dishes}" th:value="${dish.getId()}"
                th:text="${dish.getName()}">
        </option>
    </select>
    <input type="submit" value="Добавить к меню">
</form>
<form th:method="POST" th:action="@{/menus/{id}/delete_dish(id=${menu.getId()})}">
    <!-- форма удаления блюда из меню -->
    <label for="dish">Выберите блюдо</label>
    <select th:object="${dish}" th:field="*{id}" id="dish">
        <option th:each="dish: ${menu.getDishes}" th:value="${dish.getId()}"
                th:text="${dish.getName()}">
        </option>
    </select>
    <input type="submit" value="Удалить из меню">
</form>

<a th:href="@{/dishes}"><input type="submit" value="Перейти к блюдам ресторана"/></a>
<br/>
<a th:href="@{/menus/{id}(id=${menu.getId()})}"><input type="submit" value="Завершить редактирование"/></a>
</form>
</body>
</html>